.u-section-1 {
  min-height: 941px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -43px;
  margin-bottom: 43px;
}

.u-section-1 .u-image-1 {
  min-height: 766px;
  background-image: url("{{asset('images/pexels-photo-4196949.jpeg')}}");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 466px;
  background-image: url("images/pexelsphoto167092.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: 700;
  margin: 298px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: BillSmithDemo;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 74px 0 -13px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 474px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 371px;
  width: 376px;
  margin: -19px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: -76px 176px 0 264px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -22px 120px 0 424px;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 632px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 632px;
  }

  .u-section-1 .u-image-2 {
    min-height: 384px;
  }

  .u-section-1 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 391px;
  }

  .u-section-1 .u-form-1 {
    height: 285px;
    width: 300px;
    margin-top: -30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 139px;
    margin-left: 214px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 484px;
  }

  .u-section-1 .u-image-1 {
    min-height: 968px;
  }

  .u-section-1 .u-image-2 {
    min-height: 588px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 363px;
  }

  .u-section-1 .u-image-1 {
    min-height: 726px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 441px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 144px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 229px;
  }

  .u-section-1 .u-image-1 {
    min-height: 457px;
  }

  .u-section-1 .u-image-2 {
    min-height: 278px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 86px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 74px;
    margin-left: 104px;
  }
}@font-face {
  font-family: 'BillSmithDemo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BillSmithDemo.ttf);
}
